<%- include('../header') %>

<h3>Edit Data project <%= project.name%></h3>
<p style="color: red"><%=msg%></p>
<form action="/projects/<%= project.id%>/update" method="post">
    <table>
        <tr>
            <td>Project Name </td>
            <td>:</td>
            <td><input type="text" name="name" value="<%= project.name%>"></td>
        </tr>
        <td>Start At </td>
            <td>:</td>
            <td><input type="date" name="startAt" value="<%= dateHelper(project.startAt)%>"></td>
        </tr>
        <tr>
            <td>Dead Line </td>
            <td>:</td>
            <td><input type="date" name="deadLine" value="<%= dateHelper(project.deadLine)%>"></td>
        </tr>
        <tr>
            <td>Description </td>
            <td>:</td>
            <td><textarea name="description" cols="30" rows="10"><%= project.description%></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>