<%- include('../header') %>

<h3>Data projects</h3>

<a href="/projects/add"> Add Project</a>
<p style="color: green"><%=msg%></p>

<table border=1 width="80">
    <tr>
        <th>No</th>
        <th>Project Name</th>
        <th>Start At</th>
        <th>Dead Line</th>
        <th>Description</th>
        <th>Action</th>
    </tr>

    <% let no = 1; projects.forEach( project => {%>
    <tr>
        <td><%= no++ %></td>
        <td><%= project.name %></td>
        <td><%= project.startAt %></td>
        <td><%= project.deadLine %></td>
        <td><%= project.description %></td>
        <td> <a href="/projects/<%= project.id %>/edit">Edit</a> | <a href="/projects/<%= project.id %>/delete">Delete</a></td>
    </tr>
    <% }) %>
</table>