<%- include('../header') %>

<h3>Data Users</h3>

<a href="/users/add"> Add User</a>
<p style="color: green"><%=msg%></p>

<table border=1 width="80">
    <tr>
        <th>No</th>
        <th>Name User</th>
        <th>Address</th>
        <th>Username</th>
        <th>Fitures Handle</th>
        <th>Action</th>
    </tr>

    <% let no = 1; users.forEach( user => {%>
    <tr>
        <td><%= no++ %></td>
        <td><%= user.name %></td>
        <td><%= user.address %></td>
        <td><%= user.username %></td>
        <td>
            <% user.Features.forEach( feature => { %>
                <p><%= feature.name %></p>
            <% }) %>
        </td>
        <td> <a href="/users/<%= user.id %>/edit">Edit</a> | <a href="/users/<%= user.id %>/delete">Delete</a></td>
    </tr>
    <% }) %>
</table>